.navigation-links {
  display: flex;
  gap: 10px; /* Abstand zwischen den Links */
}

.centered-navigation {
  margin-top: 100px;
  display: flex;
  justify-content: center; /* Zentrieren der Navigation */
}

.navigation-links a {
  padding: 10px;
  border: 1px solid #ccc; /* Rahmen um die Links */
  border-radius: 5px; /* Abrundung des Rahmens */
  text-decoration: none;
  color: #333;
}

.navigation-links a.active {
  background-color: #f0f0f0; /* Hintergrundfarbe für aktiven Link */
}

.fixed-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* Hintergrundfarbe der Navigation */
  z-index: 1000; /* Stelle sicher, dass die Navigation über anderen Inhalten liegt */
  border-bottom: 1px solid #ccc; /* Optional: Trennlinie unter der Navigation */
}

.infoTextBox{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.centered-infoTextBox{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.centeredHeadline{
  display: flex;
  justify-content: center;
}
