<h2>{{privacyPolicy.german}}</h2>
<div>
  <ng-container *ngIf="currentLanguage === 'german'; else englishContent">
    <p>{{privacyPolicy.german.introduction}}</p>
    <p>{{privacyPolicy.german.dataController}}</p>
    <p>{{privacyPolicy.german.dataTypes}}</p>
    <p>{{privacyPolicy.german.dataProcessingPurpose}}</p>
    <p>{{privacyPolicy.german.legalBases}}</p>
    <p>{{privacyPolicy.german.dataDeletion}}</p>
    <p>{{privacyPolicy.german.userRights}}</p>
    <p>{{privacyPolicy.german.objectionRight}}</p>
    <p>{{privacyPolicy.german.complaintRight}}</p>
    <p>{{privacyPolicy.german.introduction}}</p>
    <p>{{privacyPolicy.german.lastUpdated}}</p>
  </ng-container>
</div>

<button (click)="changeLanguage('german')">Deutsch</button>
<button (click)="changeLanguage('english')">English</button>
