<div>
  <button class="show-answer-button" (click)="changeLanguage('german')">German</button>
  <button class="show-answer-button" (click)="changeLanguage('english')">English</button>
</div>
<div>
  <h2>{{privacyPolicy[currentLanguage].introduction}}</h2>
  <p>{{privacyPolicy[currentLanguage].dataController}}</p>
  <p>{{privacyPolicy[currentLanguage].dataTypes}}</p>
  <p>{{privacyPolicy[currentLanguage].dataProcessingPurpose}}</p>
  <p>{{privacyPolicy[currentLanguage].legalBases}}</p>
  <p>{{privacyPolicy[currentLanguage].dataDeletion}}</p>
  <p>{{privacyPolicy[currentLanguage].userRights}}</p>
  <p>{{privacyPolicy[currentLanguage].objectionRight}}</p>
  <p>{{privacyPolicy[currentLanguage].complaintRight}}</p>
  <p>{{privacyPolicy[currentLanguage].changes}}</p>
  <p>{{privacyPolicy[currentLanguage].lastUpdated}}</p>
</div>

